<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="[UPDATE THIS]" Publisher="[UPDATE THIS]" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="19c3776f-38f1-4512-b99e-423addd50a9e" PhonePublisherId="eba4f876-cb54-402b-b66a-b4b35b24d6e8" />
  <Properties>
    <DisplayName>SilverlightPhoneAppPushNotification</DisplayName>
    <PublisherDisplayName>piyushjo</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="AGHost.exe" EntryPoint="MainPage.xaml">
      <m3:VisualElements DisplayName="SilverlightPhoneAppPushNotification" Square150x150Logo="Assets\SquareTile150x150.png" Square44x44Logo="Assets\Logo.png" Description="SilverlightPhoneAppPushNotification" ForegroundText="light" BackgroundColor="#464646" ToastCapable="true">
        <m3:DefaultTile Square71x71Logo="Assets\SquareTile71x71.png">
        </m3:DefaultTile>
        <m3:SplashScreen Image="Assets\SplashScreen.png" />
      </m3:VisualElements>
    </Application>
  </Applications>
  <Extensions>
    <Extension Category="windows.activatableClass.inProcessServer">
      <InProcessServer>
        <Path>AgHostSvcs.dll</Path>
        <ActivatableClass ActivatableClassId="AgHost.BackgroundTask" ThreadingModel="both" />
      </InProcessServer>
    </Extension>
  </Extensions>
  <Capabilities>
    <Capability Name="internetClientServer" />
  </Capabilities>
</Package>