<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="HubName" value="<Your Notification Hub name here>" />
    <add key="DefaultFullSharedAccessSignature" value="<Your DefaultFullSharedAccessSignature here" />
  </appSettings>  
</configuration>