<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="AzureADTenantId" value="__TENANT_OR_DIRECTORY_ID__"/>
    <add key="AzureADApplicationId" value="__APPLICATION_ID__"/>
    <add key="AzureADApplicationKey" value="__APPLICATION_SECRET_KEY__"/>
    <add key="SubscriptionId" value="__HUB_SUBSCRIPTION_ID__"/>
    <add key="ResourceGroupName" value="__HUB_RESOURCE_GROUP_NAME__"/>
    <add key="NotificationHubNamespace" value="__HUB_NAMESPACE__"/>
    <add key="NotificationHubName" value="__HUB_NAME__"/>
    <add key="filter" value="$filter=(name.value eq 'incoming.all.requests') and aggregationType eq 'Total' and startTime eq 2019-01-01 and endTime eq 2019-01-23 and timeGrain eq duration'P1D'"/>
  </appSettings>
</configuration>