<div class="jumbotron">
    <p class="lead">Apple Safari Notifications</p>
    <p><a id="registerPush" class="btn btn-primary btn-lg">Click here to register</a></p>
    <script>
        var pushId = "web.com.example.azurenhpush";
        var websiteURL = "https://piyushjosafaripush.azurewebsites.net";

        var subscribe = document.querySelector("#registerPush");
            subscribe.addEventListener("click", function(evt) {
            pushNotification();
            }, false);

        var pushNotification = function () {
        "use strict";
            // Ensure that the user can receive Safari Push Notifications.
            if ('safari' in window && 'pushNotification' in window.safari) {
                var permissionData = window.safari.pushNotification.permission('web.com.example.azurenhpush');
                checkRemotePermission(permissionData);
            } else {
                alert("Push notifications not supported.");
            }
        };

        var checkRemotePermission = function (permissionData) {
            if (permissionData.permission === 'default') {
                // This is a new web service URL and its validity is unknown.
                window.safari.pushNotification.requestPermission(
                websiteURL, // The web service URL.
                pushId,     // The Website Push ID.
                {}, // Data that you choose to send to your server to help you identify the user.
                checkRemotePermission         // The callback function.
                );
            }
            else if (permissionData.permission === 'denied') {
                // The user said no.
            }
            else if (permissionData.permission === 'granted') {
                // The web service URL is a valid push provider, and the user said yes.
                // permissionData.deviceToken is now available to use.
                alert(permissionData.deviceToken);
            }
        };
    </script>
</div>
